#search_results{
    width:450px;
    margin-left:auto;
    margin-right:auto;
    background-color:#2B3848;
}#search_results li{
    background-color:#3B4858;
    padding:5px;
    width:400px;
    margin:5px;
    border-radius:5px;
}#search_results li:nth-child(odd){
    background-color:#4B5868;
}#search_results a{
	text-decoration:none;
}.title{
	font-weight:bold;
}